@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Error</h1>
        <h3>Something went wrong !!</h3>
    </div>
</body>
</html>
