@model IEnumerable<Entity.Project_Info>

<select name="ProjectName" class="form-control" id="projectID">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@Html.DisplayFor(modelItem => item.Name)</option>
    }
</select>


