@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AssignUser</title>

    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> @ViewBag.userTypeName</a></li>
                <li>
                    <a href="/Login/LogOut/"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 style="text-align:center">Assign User To A Project</h1><br />
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="text-align:center">
                @using (Html.BeginForm("AddingTask", "Others", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <label>Project : </label>
                    @Html.Action("RenderProject", "ProjectManager")
                    <br />
                    <label>Assign To : </label>
                    <select id="userId" class="form-control" name="user">
                        <option value="0">- Select -</option>
                    </select>
                    <br />
                    <label>Description : </label>
                    <textarea class="form-control" name="description" required></textarea>
                    <br />
                    <label>Due Date : </label>
                    <input type="date" class="form-control" name="dueDate" required />
                    <br />
                    <label>Priority : </label>
                    <select id="priorityId" class="form-control" name="priority">
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                    <br />
                    <input type="submit" class="btn btn-primary" id="sumitId" name="SubmitName" value="Assign" />
                }
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Script/npm.js"></script>
    <script src="~/Script/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {

            $("#projectID").change(function () {
                var projectID = $(this).val();

                $.ajax({
                    url: "/CommonTask/GetUsers",
                    type: 'post',
                    data: { project: projectID },
                    dataType: 'json',
                    success: function (response) {

                        var len = response.length;

                        $("#userId").empty();
                        for (var i = 0; i < len; i++) {
                            var id = response[i]['userId'];
                            var name = response[i]['userName'];

                            $("#userId").append("<option value='" + id + "'>" + name + "</option>");

                        }
                    }
                });
            });

        });
    </script>
</body>
</html>
